@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #fff;
}

.angular-container {
    padding: 0 !important;
    margin: 0 !important;
}

[ng\:cloak],[ng-cloak],.ng-cloak {
    display: none !important;
}

.unsp-div {
    margin-top: 20%;
}

.unsp-div p {
    font-size: 25px;
}

.bold {
    color: #5bbc2e;
}

/*** NAVBAR *****/
nav {
    background-color: #333 !important;
    border: none !important;
}
.navbar-brand {
    font-size: 15px;
}

.navbar-toggle {
    background-color: #3d3d3d !important;
    border: 1px solid #3d3d3d !important;
}

.icon-bar {
    background-color: #fff !important;
}

.navbar-default a {
    color: #5bbc2e !important;
    font-weight: 100 !important;
    border: 2px solid #333;
}

.navbar-default a:hover {
    background-color: #444 !important;
    color: #fff !important;
    border: 2px solid #444;
    -webkit-transition: background-color 1s, border 1s;
    -moz-transition: background-color 1s, border 1s;
    -ms-transition: background-color 1s, border 1s;
    -o-transition: background-color 1s, border 1s;
    transition: background-color 1s, border 1s;
}

/*** MAIN CONTENT *****/
.intro {
    background: url("../img/cup-hand.jpg") no-repeat center;
    background-size: cover !important;
    /*
    background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(../img/office.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/office.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    */
    height: 100vh;
}

.intro-text {
    margin-top: 20%;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    border-radius: 20px;
    padding: 25px;
}

.intro-text:hover {
    background-color: #444;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.intro-text a {
    color: #5BBC2E;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

/******* JOB CONTAINER ********/
.fa-database {
    color: #5bbc2e;
    font-size: 150px !important;
    opacity: 0.5;
    margin-left: 40%;
}

.job-container {
    background-color: #D8D8D8;
}

.job-content, .resource-content, .contact-content, .sponsor-content {
    margin-top: 400px;
}

.job-content h2 {
    margin-top: 50px;
    margin-bottom: 75px;
}

.jinfo {
    font-size: 25px;
    color: #555;
}

.jp {
    padding: 20px;
    background-color: #d8d8d8;
    color: #333;
    margin-top: 50px;
    box-shadow: 10px 10px 10px #999;
    border-radius: 5px;
}

.pagination li a {
    background-color: #555 !important;
    color: #fff !important;
}

.pagination li a:hover {
    color: #5bbc2e !important;
    border-color: #fff !important;
}

.pagination .active a {
    background-color: #5bbc2e !important;
    color: #fff;
    border-color: #fff;
}

.pagination .active a:hover {
    color: #fff !important;
}

table {
    font-size: 16px;
}

/****** CONTACT ******/
.contact-content {
    margin-bottom: 300px;
}

.fa-envelope {
    color: #5bbc2e;
    font-size: 150px !important;
    padding-bottom: 150px;
    opacity: 0.5;
}

.contact .btn-primary {
    background-color: #5BBC2E !important;
    border-color: #5BBC2E !important;
    color: #fff !important;
}

/******** RESOURCES ********/
.fa-file {
    color: #5bbc2e;
    font-size: 150px !important;
    padding-bottom: 150px;
    opacity: 0.5;
}

.resources-div:before {
    position: absolute;
    content: "\f08e";
    font-family: FontAwesome;
    font-size: 80px;
    color: #d8d8d8;
}

.resources-div {
    background-color: #d8d8d8;
    color: #333;
    font-weight: bolder;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 10px 10px 10px #999;
    min-height: 240px !important;
    border-radius: 5px;
}

.res-link {
    text-decoration: none !important;
}

.resources-div:hover {
    background-color: #333;
    color: #5bbc2e;
}

.resources-div p {
    margin-top: 35%;
}

/*
.resources-div a:hover {
    color: #fff;
    transition: color 0.5s;
}

.resources-div a {
    margin-top: 40px;
    font-weight: normal !important;
    color: #5bbc2e;
    text-decoration: none;
    font-size: 18px;
    word-break: break-all;
}
*/
/******* SUPPORT *******/
.fa-paypal {
    color: #5bbc2e;
    font-size: 150px !important;
    padding-bottom: 150px;
    opacity: 0.5;
}

.donate {
    background-color: #d8d8d8;
    height: 85vh;
}

.sponsor-content p {
    font-size: 20px;
    color: #555;
}

.donateButtonDiv {
    margin-top: 50px;
}

.pp-btn {
    background-color: #5BBC2E !important;
    color: #fff;
    font-size: 20px;
    border: none;
}

.pp-btn:hover {
    padding: 20px;
    font-size: 25px;
    -webkit-transition: padding 1s, font-size 1s;
    -moz-transition: padding 1s, font-size 1s;
    -ms-transition: padding 1s, font-size 1s;
    -o-transition: padding 1s, font-size 1s;
    transition: padding 1s, font-size 1s;
}

/*** FOOTER *****/
footer {
    background-color: #333;
    color: #5bbc2e;
    height: 25vh;
}

.footer-section {
    margin-top: 50px;
}


/****** MOBILE FIRST ********/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .intro {
        height: 105vh;
    }
    footer {
        height: 25vh;
    }
    .main-content {
        margin-top: 20%;
    }
    .donate {
        height: 125vh;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 375px) {
    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .intro {
        height: 100vh;
    }
    footer {
        font-size: 20px;
        height: 15vh;
    }
    .donate {
        height: 85vh;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .main-content {
        margin-top: 10%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .resources {
        /*height: 90vh;*/
    }
}
