@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #d8d8d8;
}

.angular-container {
    padding: 0 !important;
    margin: 0 !important;
}

[ng\:cloak],[ng-cloak],.ng-cloak {
    display: none !important;
}

.unsp-div {
    margin-top: 20%;
}

.unsp-div p {
    font-size: 25px;
}

.bold {
    color: #5bbc2e;
}

/*** NAVBAR *****/
nav {
    background-color: #333 !important;
    border: none !important;
}
.navbar-brand {
    font-size: 15px;
}

.navbar-toggle {
    background-color: #3d3d3d !important;
    border: 1px solid #3d3d3d !important;
}

.icon-bar {
    background-color: #fff !important;
}

.navbar-default a {
    color: #5bbc2e !important;
    font-weight: 100 !important;
    border: 2px solid #333;
}

.navbar-default a:hover {
    background-color: #444 !important;
    color: #fff !important;
    border: 2px solid #444;
    -webkit-transition: background-color 1s, border 1s;
    -moz-transition: background-color 1s, border 1s;
    -ms-transition: background-color 1s, border 1s;
    -o-transition: background-color 1s, border 1s;
    transition: background-color 1s, border 1s;
}

/*** MAIN CONTENT *****/
.intro {
    background: url("../img/cup-hand.jpg") no-repeat center;
    background-size: cover !important;
    /*
    background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(../img/office.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/office.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    */
    height: 100vh;
}

.intro-text {
    margin-top: 20%;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    border-radius: 20px;
    padding: 25px;
}

.intro-text:hover {
    background-color: #444;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.intro-text a {
    color: #5BBC2E;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

/******* JOB CONTAINER ********/
.job-container {
    background-color: #D8D8D8;
}

.main-content {
    margin-top: 200px;
    margin-bottom: 200px;
}

.jp {
    padding: 20px;
    background-color: #fff;
    color: #333;
    margin-top: 50px;
    box-shadow: 10px 10px 10px #555;
}

table {
    font-size: 16px;
}

/****** CONTACT ******/
.contact {
    background-color: #d8d8d8;
    margin-bottom: 150px;
}

.fa-envelope {
    color: #5BBC2E;
}

.contact .btn-primary {
    background-color: #5BBC2E !important;
    border-color: #5BBC2E !important;
    color: #fff !important;
}

/******** RESOURCES ********/
.resources {
    /*height: 85vh;*/
    background-color: #D8D8D8;
    color: #444;
}

.rp {
    word-break: break-all;
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 10px 10px 10px #555;
}

.rp:hover {

}

.rp a {
    text-decoration: none;
    color: #5bbc2e;
}

/******* SUPPORT *******/
.donate {
    background-color: #d8d8d8;
    height: 85vh;
}

.donate p {
    font-size: 20px;
    color: #555;
}

.donateButtonDiv {
    margin-top: 50px;
}

.pp-btn {
    background-color: #5BBC2E !important;
    color: #fff;
    font-size: 20px;
    border: none;
}

.pp-btn:hover {
    padding: 20px;
    font-size: 25px;
    -webkit-transition: padding 1s, font-size 1s;
    -moz-transition: padding 1s, font-size 1s;
    -ms-transition: padding 1s, font-size 1s;
    -o-transition: padding 1s, font-size 1s;
    transition: padding 1s, font-size 1s;
}

/*** FOOTER *****/
footer {
    background-color: #333;
    color: #5bbc2e;
    height: 25vh;
}

.footer-section {
    margin-top: 50px;
}


/****** MOBILE FIRST ********/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .intro {
        height: 105vh;
    }
    footer {
        height: 25vh;
    }
    .main-content {
        margin-top: 20%;
    }
    .donate {
        height: 125vh;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .rp {
        font-size: 20px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .intro {
        height: 100vh;
    }
    footer {
        font-size: 20px;
        height: 15vh;
    }
    .donate {
        height: 85vh;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .main-content {
        margin-top: 10%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .resources {
        /*height: 90vh;*/
    }
}
