<div class="container-fluid donate">
    <div class="row">
        <div class="col-xs-0 col-lg-3">

        </div>
        <div class="col-xs-12 col-lg-6 text-center main-content">
            <p>Thank you for helping our community and keeping this site running.  We appreciate any help from the Lake County community with our operating costs.  Your donation will help cover
            the expense of hosting and maintaining this domain so we can further provide jobs and other resources to those who need it.  Please click the link below if you would like to donate
                via PayPal.
            </p>
        </div>
        <div class="col-xs-0 col-lg-3 donate-second-row">

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
                <a href="https://www.paypal.me/lcfjobs/5" class="pp-btn" target="_blank">Donate!</a>
        </div>
    </div>
</div>