<div class="container-fluid job-container" ng-controller="JobController">
    <div class="row main-content" id="jobs">
        <div class="col-xs-0 col-sm-1 col-md-3">

        </div>
        <div class="col-xs-12 col-sm-10 col-md-6">
            <p class="jinfo">
                All jobs posted are in Lake County Florida, or closely located.  We add jobs from all over the county as soon as we are notified of an opening.  Whether you live in Umatilla
                or whether you live in Groveland, we've got you covered there and everywhere in between.  If you're a business owner or a manager, contact us so we can add your job to the list.  Older jobs will be removed
                after 2 weeks and new jobs will be added as we receive them.
            </p>
            <h2 class="text-center"><span class="bold">{{ numOfJobs }}</span> Jobs Posted</h2>
            <p class="jp" ng-repeat="job in jobs.slice(((currentPage-1) * itemsPerPage), ((currentPage) * itemsPerPage))"><i class="fa fa-database fa-lg" aria-hidden="true"></i></i><b><span class="bold">{{ job.Date }}
                <br>{{ job.Company }}<br>{{  job.Address }}<br>{{ job.City }}<br>{{ job.State }}<br>{{ job.Zip }}<br></span></b>{{ job.Description }}</p>
            <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
        </div>
        <div class="col-xs-0 col-sm-1 col-md-3"></div>
    </div>
</div>