<div class="container-fluid resources" ng-controller="ResourcesController">
    <div class="row main-content text-center">
        <div class="col-xs-0">

        </div>
        <div class="col-xs-12">
            <div class="resources-div">
                <h2>Lake County Employments Resources</h2>
                <p class="rp" ng-repeat="res in resLinks">
                    {{ res.description }} <br>
                    <a href="{{ res.address }}" target="_blank">{{ res.address }}</a>
                </p>
            </div>
        </div>
        <div class="col-xs-0">

        </div>
    </div>
</div>